TURSO_DATABASE_URL=libsql://drkuladeepportfoli-manjunadha949.aws-ap-south-1.turso.io
TURSO_AUTH_TOKEN=replace_with_database_token
GROQ_API_KEY=replace_with_groq_key
OWNER_USERNAME=kuladeep
OWNER_INITIAL_PASSWORD_HASH=generate_with_scripts_hash_password_mjs
